/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Krona+One&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Wild World';
    src: url('../fonts/wild-world/wild-world.otf');
}

/* krona-one-latin-400-normal */
@font-face {
    font-family: 'Krona One';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/krona-one@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/krona-one@latest/latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.text-gradient-blues {
    background: #27A8CF;
    background: linear-gradient(to right, #00ccff 0%, #abbbae 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-blues-dark {
    background: #27A8CF;
    background: linear-gradient(to right, rgb(68, 144, 231) 0%, #000107 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-greens {
    background: linear-gradient(to right, #2cb933 0%, #149931 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-reds {
    background: linear-gradient(to right, #b92c67 0%, #8e1499 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-bw {
    background: linear-gradient(to right, #5a595a 0%, #252525 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-krona-one {
    font-family: 'Krona One', sans-serif;
}

.text-wild-world {
    font-family: 'Wild World', sans-serif;
}


.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.project-border {
    pointer-events: none;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 16px;
}

/* 
 .project-border::before {
  content: '';
  position: absolute;
  width: 700px;
  height: 120px;
  background: linear-gradient(#00ccff, #d500f9);
  animation: rotate 4s linear infinite;
  border-radius: 16px;
}

.project-border::after {
  content: '';
  background-color: black;
  z-index: 0;
  inset: 5px;
  border-radius: 16px;
}  */

.curved {
    border-radius: 20% 80% 35% 65% / 53% 34% 66% 47%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@layer components {
    .hero-button {
        @apply px-6 py-2 border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all border hover:border-[#45c7e5]/40 hover:text-[#45c7e5]/40
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-6 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#45c7e5]/40 focus:text-[#45c7e5]/40 hover:border-[#45c7e5]/40
    }

    .icons {
        @apply text-white hover:text-[#45c7e5] hover:scale-110 transition-all
    }
}